<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/login.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <body id="login">
    <img src="{{ '/assets/images/bear.jpg?v=' | append: site.github.build_revision | relative_url }}">
    <!--Input Form Tag-->
    <form id="password" action="{{ 'main_page.html?v=' | append: site.github.build_revision | relative_url }}">
      <input type="password" name="pw" id="textfield" maxlength="21">
      <br>
      <br>
      <br>
      <input type="image" src="http://dollars-bbs.org/images/enter_button.png" onmouseover="this.src='http://dollars-bbs.org/images/enter_button_hover.png'"
      onmouseout="this.src='http://dollars-bbs.org/images/enter_button.png'" alt="enter">
    </form>
  </body>
</html>
